<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Whatsapp</title>
  </head>
  <body>

    <!-- Creazione dello sfondo diviso in due parti  -->
    <div class="background">
      <div class="background-green"></div>
      <div class="background-grey"></div>
    </div>

    <!-- Container che contiene l'applicazione di whatsapp -->
    <div id="app" class="app_container d-flex">

    <!-- Inizio del container di sinistra che contiene la sezione con i contatti e la ricerca -->
      <div class="contacts_container d-flex flex-column">

        <!-- Sezione con nome dell'utente -->
        <div class="user_name d-flex align-items-center">
          <img src="assets/img/avatar_io.jpg" alt="" class="rounded_img">
          <span>Nome Utente</span>
          <div class="icons">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>
        </div>

        <!-- Sezione con opzione sulla notifica -->
        <div class="notification_option d-flex align-items-center">
          <i class="fas fa-bell-slash rounded_img"></i>
          <div class="activate_notifications">
            <p>Ricevi notifiche di nuovi messaggi</p>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>

        <!-- Sezione con la barra di ricerca -->
        <div class="search">
          <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="ricercaUtenti">
        </div>

        <!-- Sezione con la lista dei contatti -->
        <div class="list_contacts">
          <ul>

            <li class="d-flex" v-for='(contact, index) in filteredContacts' @click="changeUtente(contact)">
              <a href="#" class="align-self-center"><img :src="contact.avatar" alt="" class="rounded_img"> </a>
              <div class="contact_info">
                <div class="contact_name">{{contact.name}}</div>
              </div>
            </li>

          </ul>
        </div>

      </div>
    <!-- Fine del container di sinistra -->

    <!-- Inizio del container di destra che contiene la chat -->

      <div class="chat_container d-flex flex-column">

      <!-- Dati del contatto a cui stiamo scrivendo -->
        <div class="contact_data_chat d-flex align-items-center">

          <a href="#"><img :src="contacts[posizioneUtente].avatar" alt="" class="rounded_img"></a>
          <div class="contact_time_name">
            <div class="name">{{contacts[posizioneUtente].name}}</div>
            <div class="time">Ultimo accesso oggi alle</div>
          </div>
          <div class="icons">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

        </div>

      <!-- Chat -->
        <div class="chat">

          <ul>
            <!-- v-for che porta alla scrittura della chat con un utente -->
            <li class="d-flex flex-column" v-for="text_message in contacts[posizioneUtente].messages">
              <div v-if="text_message.status === 'sent'" class="message_box sent">
                <span class="message">{{text_message.text}}</span>
                <span class="time_date">DATA E ORA</span>
              </div>

              <div v-if="text_message.status === 'received'" class="message_box received">
                <span class="message">{{text_message.text}}</span>
                <span class="time_date">DATA E ORA</span>
              </div>
            </li>

          </ul>

        </div>

      <!-- Parte con il necessario per mandare un messaggio in chat -->
        <div class="message_chat d-flex align-items-center ">
          <a href="#"><i class="far fa-smile"></i></i></a>
          <input type="text" placeholder="Scrivi un messaggio" v-model="newMessageSent" @keyup.13="addNewMessageSent">
          <a href="#"><i class="fas fa-microphone"></i></a>
        </div>

      </div>

      <!-- Fine del container di destra che contiene la chat -->

    </div>

  <!-- Script vueJS -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <!-- Script Javascript -->
  <script type="text/javascript" src="assets/js/main.js"></script>

  </body>
</html>
