*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utility classes */


.d-flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

/* Sfondo */
.background{
  position: fixed;
  z-index: 0;
}
.background-green{
  background-color: #009688;
  width: 100vw;
  height: 15vh;
}

.background-grey{
  width: 100vw;
  height: 85vh;
  background: linear-gradient(180deg, rgba(221,219,209,1) 0%, rgba(210,219,220,1) 100%);
}

#app{
  position: absolute;
  z-index: 1;
  background: red;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  width: 1430px;
  height: 880px;
}
